@import url('https://fonts.googleapis.com/css?family=Rochester');

html, body {
  height: 100%;
}

body {
  background-image: url("img/binding_dark.png");
  background-repeat: repeat;
}

.container {
  height: 100%;
}

#header {
  font-family: 'Rochester';
  font-size: 2.5vw;
  color: white;
}

@-webkit-keyframes FADE-OUT {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FADE-OUT {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FADE-OUT {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FADE-OUT {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.card-title {
  -webkit-animation: FADE-OUT 5s infinite; /* Safari 4+ */
  -moz-animation:    FADE-OUT 5s infinite; /* Fx 5+ */
  -o-animation:      FADE-OUT 5s infinite; /* Opera 12+ */
  animation:         FADE-OUT 5s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
}

img {
  -webkit-animation: FADE-OUT 1s infinite; /* Safari 4+ */
  -moz-animation:    FADE-OUT 1s infinite; /* Fx 5+ */
  -o-animation:      FADE-OUT 1s infinite; /* Opera 12+ */
  animation:         FADE-OUT 1s infinite; /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
}

.shadow:hover {
  background-color: #666666;
}

.shadow:active {
  background-color: #333333;
}

#footer {
  font-family: 'Times';
  font-size: 1.25vw;
  color: white;
}